<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BezierPathDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B6CBC891F0F3DE400B93888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6CBCA21F0F3DE400B93888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6CBCAD1F0F3DE400B93888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
